<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Tutorial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}"> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>

<br>
    
    <div id="navbar">
        <h1> {{ title }} </h1>
    </div>

    <div class="container">
        <form action="{{url_for('.add')}}" class="form-group form-inline mt-4" method="POST">
            <input type="text" name="task" placeholder="Enter your Task Here"
                class="form-control form-control-mt m-2" required>
            <button class="btn btn-md btn-primary" type="submit">Add Task</button>
        </form>
    </div>
    <br></br>

    <div class="container">
        <table class="table text-center table-bordered">
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Task
                </th>
                <th>
                    Date Time
                </th>
                <th>
                    Action
                </th>
            </tr>

            {% for todo in todos %}


            <tr>
                <td>
                    {{ todo.id }}
                </td>
                <td>
                    {{ todo.task }}
                </td>
                <td>
                    {{ todo.date }}
                </td>
                <td>
                    <a class="btn btn-success mr-2" href="#">Update</a>
                    <a class="btn btn-danger ml-2" href="#">Delete</a>
                </td>
            </tr>

            {% endfor %}

        </table>
    </div>

</body>

</html>

